Repository libusb/hidapi, pull requests merged in 2021-07, with the labels that each got.

#291 libusb backend: stabilize device path, superseeds: #117
  libusb/hid.c
Labels: libusb

#303 add hid_get_report_descriptor API function
  hidapi/hidapi.h
  hidtest/test.c
  libusb/hid.c
  linux/hid.c
  mac/hid.c
  windows/hid.c
Labels: Windows, enhancement, hidraw, libusb, macOS

#305 Cleanup Windows backend code a bit
  windows/hid.c
Labels: Windows

#313 Ubuntu CI: `apt update` before `apt install`
  .github/workflows/builds.yml
Labels: build system/CI

#311 Update hid.c to fix MSYS2 MinGW-w64 compiler warning
  windows/hid.c
Labels: Windows
