Repository libusb/hidapi, pull requests merged in 2021-09, with the labels that each got.

#309 RFC: Bluetooth LE device info on Windows
  windows/hid.c
Labels: Windows

#326 udev.rules documentation improvement
  udev/69-hid.rules
Labels: documentation, hidraw

#333 Remove DDK support files.
  BUILD.md
  windows/Makefile.am
  windows/ddk_build/.gitignore
  windows/ddk_build/hidapi.def
  windows/ddk_build/makefile
  windows/ddk_build/sources
Labels: Windows

#336 Add <root>/libusb to includes for in-tree build
  libusb/CMakeLists.txt
  src/CMakeLists.txt
Labels: build system/CI
