Repository libusb/hidapi, pull requests merged in 2021-06, with the labels that each got.

#279 Guard against zero length buffers in hid_write
  libusb/hid.c
  linux/hid.c
  mac/hid.c
  windows/hid.c
Labels: Windows, hidraw, libusb, macOS

#121 drop support of macOS 10.5 and earlier
  mac/hid.c
Labels: macOS

#232 hid_get_input_report: Correct number of bytes_returned
  windows/hid.c
Labels: Windows
