Repository libusb/hidapi, pull requests merged in 2022-08, with the labels that each got.

#432 Add hid_get_device_info
  hidapi/hidapi.h
  hidtest/test.c
  libusb/hid.c
  linux/hid.c
  mac/hid.c
  windows/hid.c
Labels: enhancement

#441 Reattach kernel driver when failed to claim interface
  libusb/hid.c
Labels: libusb

#440 Run hidtest for no more than 10 seconds when no hid_read data
  hidtest/test.c
Labels: Example

#442 libusb: fix enumerating device path w/o root access
  libusb/hid.c
Labels: libusb

#444 libusb: fix HID Report descriptor request
  libusb/hid.c
Labels: bug, libusb
