Repository libusb/hidapi, pull requests merged in 2022-05, with the labels that each got.

#370 README: explicit statement on single source build
  BUILD.md
  README.md
Labels: documentation, build system/CI

#388 add better windows error handling
  windows/hid.c
Labels: Windows

#404 Fix find_package(hidapi) warnings
  src/CMakeLists.txt
  src/cmake/hidapi-config.cmake.in
Labels: CMake

#405 libusb: cmake: Proper dependency on Iconv
  .builds/netbsd.yml
  libusb/CMakeLists.txt
  libusb/hid.c
  src/CMakeLists.txt
  src/cmake/hidapi-config.cmake.in
Labels: libusb, bsd

#412 podspec: include darwin-specific header
  dist/hidapi.podspec
Labels: build system/CI, macOS
