Repository libusb/hidapi, pull requests merged in 2022-09, with the labels that each got.

#410 Meson support
  .github/workflows/builds.yml
  BUILD.md
  meson.build
  subprojects/README.md
  subprojects/hidapi_build_cmake/CMakeLists.txt
Labels: build system/CI

#449 CI: add OpenBSD compilation test
  .builds/openbsd.yml
Labels: build system/CI, bsd

#450 CI: more CMake build checks
  .builds/alpine.yml
  .builds/archlinux.yml
  .builds/fedora-mingw.yml
  .builds/freebsd.yml
  .builds/netbsd.yml
  .builds/openbsd.yml
Labels: build system/CI, CMake

#308 RFC: Add HID bus type in hid_device_info
  hidapi/hidapi.h
  hidtest/test.c
  libusb/hid.c
  linux/hid.c
  mac/hid.c
  windows/hid.c
Labels: enhancement, macOS, Windows, hidraw, libusb, Core

#452 Introduce HID_API_MAX_REPORT_DESCRIPTOR_SIZE
  hidapi/hidapi.h
  libusb/hid.c
  linux/hid.c
  mac/hid.c
Labels: enhancement

#457 libusb: stop `read_thread` from looping indefinitely (#456)
  libusb/hid.c
Labels: libusb
