Repository libusb/hidapi, pull requests merged in 2023-09, with the labels that each got.

#612 Initial NetBSD/UHID native backend implementation
  CMakeLists.txt
  netbsd/CMakeLists.txt
  netbsd/README.md
  netbsd/hid.c
  pc/hidapi-netbsd.pc.in
  src/CMakeLists.txt
Labels: enhancement, bsd

#624 Update BUILD.autotools.md
  BUILD.autotools.md
Labels: build system/CI

#625 Only enumerate each interface once
  libusb/hid.c
Labels: libusb
