Repository libusb/hidapi, pull requests merged in 2023-02, with the labels that each got.

#463 CMake code to run ASAN for Windows tests
  .github/workflows/builds.yml
  CMakeLists.txt
  windows/test/CMakeLists.txt
Labels: build system/CI

#501 Get descriptor (windows fixes)
  windows/hidapi_descriptor_reconstruct.c
Labels: Windows

#507 windows: don't mark with dllexport in static build
  hidapi/hidapi.h
  windows/CMakeLists.txt
Labels: Windows

#510 Add xbox testcase
  windows/test/CMakeLists.txt
  windows/test/data/045E_02FF_0005_0001.pp_data
  windows/test/data/045E_02FF_0005_0001_expected.rpt_desc
  windows/test/data/045E_02FF_0005_0001_real.rpt_desc
Labels: enhancement, Windows
