Repository libusb/hidapi, pull requests merged in 2023-07, with the labels that each got.

#598 Fix Windows CI
  .github/workflows/builds.yml
Labels: build system/CI

#572 hidapi/libusb: enable support for Xbox 360 and Xbox One controllers
  libusb/hid.c
Labels: libusb

#602 Fixed Visual C++ warning C4214
  windows/hidapi_descriptor_reconstruct.h
Labels: Windows
