Repository libusb/hidapi, pull requests merged in 2023-03, with the labels that each got.

#516 hid_get_report_descriptor: bump version to 0.14.0
  VERSION
  hidapi/hidapi.h
Labels: Core

#500 windows: Get Bluetooth device Model Number String instead of Device Name into product string
  windows/hid.c
  windows/hidapi_cfgmgr32.h
Labels: Windows

#517 doc: Shared+Static build for CMake
  BUILD.cmake.md
Labels: documentation

#464 windows: try to get USB device serial number if not provided by HidD_GetSerialNumberString
  hidapi/hidapi.h
  windows/hid.c
  windows/hidapi_cfgmgr32.h
Labels: Windows
