Repository libusb/hidapi, pull requests merged in 2023-05, with the labels that each got.

#535 ci: Docker build for Fedora/Mingw
  .builds/fedora-mingw.yml
  .github/workflows/builds.yml
  windows/hid.c
Labels: build system/CI

#536 ci: Docker build for Archlinux
  .builds/archlinux.yml
  .github/workflows/builds.yml
Labels: build system/CI

#537 ci: Docker build for Alpine
  .builds/alpine.yml
  .github/workflows/builds.yml
Labels: build system/CI

#299 RFC: WIP: Add ability to register device connection/disconnection callback
  hidapi/hidapi.h
  hidtest/test.c
  libusb/hid.c
  linux/hid.c
  mac/hid.c
  windows/hid.c
  windows/hidapi_cfgmgr32.h
Labels: enhancement, macOS, Windows, hidraw, libusb, Core

#555 Return from hid_open_path early in case if hid_init fails to avoid crash
  mac/hid.c
Labels: macOS

#557 Multi-platform Coverity build
  .github/workflows/checks.yml
Labels: enhancement, build system/CI

#562 Correct type (int) for printf width specifier
  windows/hid.c
Labels: bug, Windows

#561 Fix "Explicit null dereferenced"
  windows/hid.c
Labels: bug, Windows

#570 Fixed parameter documentation mismatch
  windows/hidapi_descriptor_reconstruct.c
  windows/hidapi_winapi.h
Labels: Windows

#580 hidapi/linux: fixed crash if uevent info isn't available
  linux/hid.c
Labels: hidraw
